body {
    background-color: #f4f6f9;
    color: #222222;
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
}
button {
    background-color: #248bcf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
